/* Fallback stuff */
.progress[value] {
  appearance: none; /* Needed for Safari */
  border: none; /* Needed for Firefox */
  color: #e52e71; /* Fallback to a solid color */
  width: 100%;
  
}

/* WebKit styles */
.progress[value]::-webkit-progress-value {
  background-image: linear-gradient(
    to right,
    #E7BB41, #44BBA4
  );
  transition: width 1s linear;
}

/* Firefox styles */
.progress[value]::-moz-progress-bar {
  background-image: -moz-linear-gradient(
    right,
    #ff8a00, #e52e71
  );
}



.progress[value]::-webkit-progress-bar {
  background-color: transparent;
}



